#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #0b09b9;
}

.logo-container {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(0, 182, 255, 0.2), rgba(255, 0, 132, 0.2));
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.logo-container:hover {
  background: linear-gradient(135deg, rgba(0, 182, 255, 0.4), rgba(255, 0, 132, 0.4));
  transform: scale(1.1);
}
.logo-img {
  transition: transform 0.3s ease-in-out;
}
.logo-img:hover {
  transform: rotate(360deg);
}
